body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0 150px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 0;
}

.col-esq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 700px;
    height: 200px;
}

.col-dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 700px;
    height: 200px;
    font-size: 25px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    width: 680px;
}

.col-esq, .col-dir {
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    width: 600px;
    height: 100px;
}

.error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  #btnEntrar {
    background-color: #ca1c2a;
  }

  /* Media Query para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    form {
      padding: 0 20px;
    }
  
    .logo {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .row {
      flex-direction: column;
      height: auto;
    }
  
    .col-esq,
    .col-dir {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  }